@media(max-width:1346px){
    .portfolio .box {
    max-width: 325px;
    height: 254px;
}
.service .box{
    max-width: 345px;
}
.vector3 {
    left: -90px;
    bottom: 50px;
}
.vector1 {
    top: 97px;
    left: -34px;
}
.vector2 {
    top: 47px;
    right: 30px;
}
.vector4 {
    right: 26px;
    bottom: 54px;
}
}
@media(max-width:1300px){
    .portfolio .box {
        max-width: 315px;
        height: 250px;
        padding: 13px;
    }
    .service-block {
        height: 445px;
        padding-block: 45px;
    }
    .vector2 {
        top: 47px;
        right: 30px;
    }
    .welcome-image img {
        max-width: 545px;
        width: 100%;
    }
    .vector4 {
        right: 27px;
        bottom: 54px;
    }
    .vector3 {
        left: -86px;
        bottom: 55px;
    }
    .vector1 {
        top: 96px;
        left: -33px;
    }
}
@media(max-width:1250px){
    .welcome-image img {
        max-width: 535px;
        width: 100%;
    }
    .portfolio .box {
        max-width: 310px;
        height: 245px;
    }
}
@media(max-width:1220px){
    .portfolio .box {
        max-width: 305px;
        height: 239px;
    }
    .vector3 {
        left: -81px;
        bottom: 60px;
    }
    .vector2 {
        top: 50px;
        right: 33px;
    }
    .vector4 {
        right: 23px;
        bottom: 55px;
    }
    nav {
        gap: 43px;
    }
    .portfolio-block {
        height: 360px;
    }
    .header input {
        padding: 9px 17px;
    }
}
@media(max-width:1180px){
    .welcome-text h1 {
        font-size: 54px;
    }
    .welcome-text p {
        width: 425px;
    }
    .welcome-image img {
        max-width: 527px;
        width: 100%;
    }
    #vector {
        max-width: 49px;
        width: 100%;
    }
    #vector3 {
        max-width: 77px;
        width: 100%;
    }
    #vector1 {
        max-width: 63px;
        width: 100%;
    }
    .vector3 {
        left: -78px;
        bottom: 64px;
    }
    .vector2 {
        top: 52px;
        right: 35px;
    }
    .vector1 {
        top: 97px;
        left: -28px;
    }
    .portfolio .box {
        padding: 9px;
    }    
}
@media(max-width:1120px){
    .portfolio .box {
        max-width: 295px;
        height: 231px;
    }
    .header input {
        padding: 7px 15px;
    }
    .vector3 {
        left: -76px;
        bottom: 63px;
    }
    .vector1 {
        top: 99px;
        left: -26px;
    }
    .vector2 {
        top: 56px;
        right: 36px;
    }
    .vector4 {
        right: 28px;
        bottom: 55px;
    }
    .welcome-image img {
        max-width: 520px;
    }
    .welcome-text button {
        gap: 8px;
    }
    .service .box {
        max-width: 300px;
    }
    button {
        width: 185px;
        height: 47px;
    }
    .contact h1 {
        width: 524px;
        font-size: 41px;
    }
}
@media(max-width:1090px){
    .portfolio .box {
        max-width: 282px;
        height: 217px;
    }
    .welcome-image img {
        max-width: 500px;
    }
    .vector2 {
        top: 57px;
        right: 37px;
    }
    #vector {
        max-width: 48px;
    }
    .vector4 {
        right: 29px;
        bottom: 58px;
    }
    #vector {
        max-width: 47px;
    }
    .vector3 {
        left: -63px;
        bottom: 70px;
    }
    #vector3 {
        max-width: 71px;
    }
    .vector1 {
        top: 95px;
        left: -24px;
    }
    #vector1 {
        max-width: 61px;
    }
    .welcome-text h1 {
        font-size: 53px;
    }
    .welcome-text p {
        font-size: 15px;
        width: 399px;
        line-height: 29px;
    }
    button {
        width: 172px;
        height: 46px;
        font-size: 15px;
    }
    .service h1 {
        width: 462px;
        text-align: center;
        font-size: 40px;
    }
    .portfolio .box {
        padding: 7px;
    }
    #service {
        padding-block: 100px;
    }
}
@media(max-width:1060px){
    .portfolio .box {
        max-width: 277px;
        height: 213px;
    }
    .welcome-text p {
        font-size: 14px;
        width: 372px;
    }
    .welcome-text h1 {
        line-height: 59px;
        font-size: 51px;
    }
    .welcome-image img {
        max-width: 495px;
    }
}
@media(max-width:1030px){
    .welcome-image img {
        max-width: 480px;
    }
    .box p {
        width: 218px;
        font-size: 15px;
        line-height: 25px;
    }
    img {
        max-width: 277px;
    }
    .background-icon {
        width: 58px;
        height: 58px;
    }    
    .service h1 {
        width: 439px;
        font-size: 38px;
        text-align: center;
    }
}
@media(max-width:1010px){
    .welcome-image img {
        max-width: 465px;
    }
    .portfolio .box {
        max-width: 264px;
        height: 213px;
    }
    #vector1 {
        max-width: 58px;
    }
    .vector2 {
        top: 60px;
        right: 40px;
    }
    #vector {
        max-width: 44px;
        width: 100%;
    }
    .vector4 {
        right: 49px;
        bottom: 60px;
    }
    .vector3 {
        left: -56px;
        bottom: 58px;
    }
    nav a {
        font-size: 15px;
    }
    .logo h1 {
        font-size: 24px;
    }
    nav {
        display: flex;
        align-items: center;
        gap: 38px;
    }
    .footer p {
        font-size: 15px;
    }   
    .logo h1 {
        font-size: 23px;
    }
    .header input {
        padding: 6px 12px;
    }
    .portfolio .box {
        max-width: 264px;
        height: 205px;
    }
    #vector3 {
        max-width: 67px;
    }
    #vector {
        max-width: 43px;
    }
    #vector1 {
        max-width: 56px;
    }
}
@media(max-width:1000px){
    .service .box {
        max-width: 250px;
    }
}

@media(max-width:980px){
    .portfolio .box {
        max-width: 270px;
        height: 213px;
    }
    section h1 {
        font-size: 36px;
        width: 419px;
    }
    .welcome-text h1 {
        line-height: 57px;
        font-size: 50px;
    }
    .welcome-image img {
        max-width: 460px;
    }
    button {
        width: 165px;
        height: 44px;
    }
    .portfolio .box {
        max-width: 265px;
        height: 207px;
    }
    .portfolio-block {
        height: 347px;
    }
}
@media(max-width:950px){
    .welcome-image img {
        max-width: 455px;
    }
    nav a {
        font-size: 14px;
    }
    .welcome-text p {
        font-size: 14px;
        width: 338px;
        line-height: 27px;
    }
    .welcome-text h1 {
        line-height: 53px;
        font-size: 48px;
    }
    .service h1 {
        width: 404px;
        font-size:35px;
    }
    .box h4 {
        font-size: 23px;
    }
    .background-icon img {
        max-width: 57px;
    }
    .background-icon {
        width: 57px;
        height: 57px;
    }
    .portfolio .box {
        max-width: 250px;
        height: 194px;
    }
    .vector3 {
        left: -46px;
        bottom: 59px;
    }
    .vector1 {
        top: 95px;
        left: -16px;
    }   
    .vector2 {
        top: 59px;
        right: 44px;
    }
}
@media(max-width:920px){
    .portfolio .box {
        max-width: 237px;
        height: 186px;
    }
    .portfolio-block {
        height: 327px;
        padding-block: 55px;
    }
    .contact h1 {
        width: 434px;
        font-size: 34px;
    }
    .welcome-text h1 {
        line-height: 51px;
        font-size: 45px;
    }
    .welcome-text p {
        font-size: 14px;
        width: 347px;
    }
    .header input {
        padding: 5px 10px;
    }
    .welcome-image img {
        max-width: 450px;
    }
    #service {
        padding-block: 85px;
    }
    #contact {
        padding-block: 70px;
    }
    button {
        width: 150px;
        height: 41px;
        font-size: 14px;
    }
    .logo h1 {
        font-size: 22px;
    }
}
@media(max-width:900px){
    .portfolio .box {
        max-width: 231px;
        height: 180px;
    }
    .portfolio-block {
        height: 324px;
    }
    .service .box {
        max-width: 270px;
    }
    .service-block {
        padding-block: 95px;
        gap: 20px;
    }
    .portfolio-block {
        height: 343px;
    }
    .background-icon img {
        max-width: 53px;
        width: 100%;
    }
    .background-icon {
        width: 55px;
        height: 55px;
    }
    .welcome-image img {
        max-width: 402px;
        width: 100%;
    }
    .welcome-text h1 {
        line-height: 49px;
        font-size: 46px;
        width: 239px;
    }
    .service h1 {
        width: 393px;
        font-size: 34px;
    }
    .welcome-text p {
        font-size: 14px;
        width: 316px;
        line-height: 25px;
    }
    button {
        width: 150px;
        height: 42px;
        font-size: 14px;
    }
    .contact h1 {
        width: 421px;
        font-size: 33px;
    }
    nav {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    nav a {
        font-size: 13px;
    }
    .footer p {
        font-size: 14px;
    }
    section h1 {
        font-size: 35px;
        width: 407px;
    }
    ul li {
        text-decoration: none;
        color: #fff;
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 14px;
    }
}
@media(max-width: 880px){
    .portfolio .box {
        max-width: 225px;
        height: 174px;
    }
    .welcome-image img {
        max-width: 398px;
    }
    .header input {
        padding: 5px 9px;
    }
    .welcome-text p {
        width: 315px;
    }
    .welcome-text button {
        gap: 7px;
    }
    button {
        width: 142px;
        height: 39px;
        font-size: 13px;
    }
    .welcome-text button ion-icon {
        font-size: 19px;
    }
    .vector4 {
        right: 29px;
        bottom: 54px;
    }
    #vector3 {
        max-width: 65px;
    }
    #vector3 {
        max-width: 65px;
    }
    #vector1 {
        max-width: 52px;
    }
    .portfolio-block {
        height: 335px;
    }
    .vector1 {
        top: 90px;
        left: -15px;
    }
    .contact h1 {
        width: 409px;
        font-size: 32px;
    }
}
@media(max-width: 860px){
    .portfolio-block {
        height: 325px;
    }
    .portfolio .box {
        max-width: 221px;
        height: 170px;
    }
    .welcome-text h1 {
        line-height: 48px;
        font-size: 45px;
        width: 234px;
    }
    .welcome-text p {
        width: 283px;
    }
    .box h4 {
        font-size: 22px;
    }
    .service .box{
        gap: 12px;
    }
    .box h4 {
        font-size: 22px;
    }
}
@media(max-width: 825px){
    .portfolio .box {
        max-width: 218px;
        height: 169px;
    }
    .contact h1 {
        width: 396px;
        font-size: 31px;
    }
    .logo h1 {
        font-size: 21px;
    }
    section h1 {
        font-size: 33px;
        width: 384px;
    }
    .service h1 {
        width: 381px;
        font-size: 32px;
    }
    .welcome-image img {
        max-width: 392px;
    }
    #vector {
        max-width: 41px;
    }
    #vector3 {
        max-width: 62px;
    }
    #vector1 {
        max-width: 50px;
    }
    .vector4 {
        right: 29px;
        bottom: 51px;
    }
    ul {
        gap: 17px;
    }
    ul li {
        font-size: 13px;
    }
}
@media(max-width: 815px){
    .portfolio .box {
        max-width: 213px;
        height: 167px;
    }
    .portfolio-block {
        height: 320px;
    }
    button {
        width: 139px;
        height: 38px;
        font-size: 13px;
    }
}
@media(max-width: 800px){
    .portfolio .box {
        max-width: 205px;
        height: 161px;
    }
    .portfolio-block {
        height: 270px;
    }
    .contact h1 {
        width: 383px;
        font-size: 30px;
    }
    section h1 {
        font-size: 31px;
        width: 361px;
    }
    nav {
        gap: 28px;
    }
    .welcome-text h1 {
        line-height: 47px;
        font-size: 43px;
        width: 224px;
    }
    .welcome-text p {
        width: 263px;
        font-size: 13px;
    }
    .welcome-image img {
        max-width: 385px;
    }
    #service {
        padding-block: 80px;
    }
    .service h1 {
        width: 358px;
        font-size: 31px;
    }
    .service .box {
        max-width: 245px;
    }
    .portfolio .box {
        max-width: 200px;
        height: 157px;
    } 
}
@media(max-width: 770px){
    .header input {
        padding: 3px 2px;
    }
    .welcome-text h1 {
        line-height: 46px;
        font-size: 42px;
        width: 218px;
    }
    .welcome-image img {
        max-width: 380px;
    }
    #vector3 {
        max-width: 60px;
    }
    .vector3 {
        left: -45px;
        bottom: 59px;
    }
    .vector1 {
        top: 88px;
        left: -10px;
    }
    #vector1 {
        max-width: 48px;
    }
    #vector {
        max-width: 39px;
    }
    .vector2 {
        top: 63px;
        right: 40px;
    }
    .vector4 {
        right: 32px;
        bottom: 49px;
    }   
    .box p {
        width: 204px;
        font-size: 14px;
        line-height: 24px;
    }
    .background-icon img {
        max-width: 51px;
    }
    .background-icon {
        width: 53px;
        height: 53px;
    }
    nav {
        gap: 26px;
    }
    .footer p {
        font-size: 13px;
    }
    nav a {
        font-size: 12px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        flex-direction: column;
    }

}
@media(max-width: 750px){
    .welcome-image img {
        max-width: 367px;
    }
    .welcome-text h1 {
        line-height: 44px;
        font-size: 41px;
        width: 213px;
    }
    #vector {
        max-width: 37px;
    }
    #vector1 {
        max-width: 46px;
    }
    #vector3 {
        max-width: 57px;
    }
    .vector3 {
        left: -44px;
        bottom: 62px;
    }
    .portfolio .box {
        max-width: 191px;
        height: 146px;
    }
    .contact h1 {
        width: 370px;
        font-size: 29px;
    }
    section h1 {
        font-size: 29px;
        width: 338px;
    }
    .service h1 {
        width: 335px;
        font-size: 29px;
    }
    .portfolio-block {
        height: 266px;
    }
}
@media(max-width: 730px){
    .welcome-image img {
        max-width: 357px;
    }
    #vector1 {
        max-width: 44px;
    }
    .vector1 {
        top: 87px;
        left: -5px;
    }
    #vector3 {
        max-width: 54px;
    }
    .vector3 {
        left: -32px;
        bottom: 62px;
    }
    #vector {
        max-width: 36px;
    }
    .welcome-text h1 {
        line-height: 42px;
        font-size: 40px;
        width: 208px;
    }
    .welcome-text p {
        width: 242px;
        font-size: 12px;
        line-height: 21px;
    }
    button {
        width: 126px;
        height: 35px;
        font-size: 12px;
    }
    .welcome-text button ion-icon {
        font-size: 16px;
    }
    .service .box {
        gap: 11px;
    }
    .footer p {
        font-size: 12px;
    }
    nav {
        gap: 24px;
    }
    .service-block {
        padding-block: 95px;
        gap: 30px;
    }
    .contact h1 {
        width: 358px;
        font-size: 28px;
    }
    .service h1 {
        width: 324px;
        font-size: 28px;
    }
    nav {
        gap: 22px;
    }
    section h1 {
    font-size: 28px;
    width: 326px;
    }
}
@media(max-width: 700px){
    .portfolio .box {
        max-width: 177px;
        height: 137px;
    }
    .welcome-image img {
        max-width: 350px;
    }
    .welcome-text h1 {
        line-height: 41px;
        font-size: 39px;
        width: 203px;
    }
    .footer {
        gap: 20px;
        flex-wrap: wrap;
    }
    ul {
        gap: 12px;
    }
    #contact {
        padding-block: 50px;
    }
    .contact h1 {
        width: 345px;
        font-size: 27px;
    }
    .header input {
        padding: 1px 0px;
    }
    .welcome-text h1 {
        line-height: 40px;
        font-size: 38px;
        width: 198px;
    }
    section h1 {
        font-size: 27px;
        width: 314px;
    }
    .service h1 {
        width: 312px;
        font-size: 27px;
    }
    .service-block {
        padding-block: 80px;
        gap: 30px;
    }
    .portfolio-block {
        height: 270px;
    }
}
@media(max-width: 680px){
    .welcome-image img {
        max-width: 340px;
    }
    #vector3 {
        max-width: 53px;
    }
    #vector1 {
        max-width: 43px;
    }
    .vector1 {
        top: 85px;
        left: -4px;
    }
    .vector2 {
        top: 64px;
        right: 39px;
    }
    #vector {
        max-width: 35px;
    }
    #end {
        align-self: none;
    }
    .portfolio .box {
        max-width: 180px;
        height: 137px;
    }
    .portfolio-block {
        height: 151px;
    }
    #end {
        align-self: center;
    }
    #center {
        align-self: center;
    }
    #start {
        align-self: center;
    }
    .portfolio-block {
        height: 150px;
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio .box {
        max-width: 270px;
        height: 200px;
    }
    .portfolio-block {
        align-items: center;
        flex-direction: column;
        display: flex;
        height: 704px;
        gap: 26px;
    }
    .portfolio .box {
        max-width: 270px;
        height: 200px;
    }
    .burger-menu{
        display: flex;
    }
    .header-input {
        display: none;
    }
    nav{
        display: none;
    }
}
@media(max-width: 650px){
    .welcome-image img {
        max-width: 327px;
    }
    .welcome-text h1 {
        line-height: 39px;
        font-size: 37px;
        width: 192px;
    }
    .contact h1 {
        width: 332px;
        font-size: 26px;
    }
    section h1 {
        font-size: 26px;
        width: 314px;
    }
    .service h1 {
        width: 300px;
        font-size: 26px;
    }
    #vector1 {
        max-width: 42px;
    }
    #vector3 {
        max-width: 52px;
    }
    #vector {
        max-width: 35px;
    }
    .welcome-text h1 {
        line-height: 38px;
        font-size: 36px;
        width: 187px;
    }
}
@media(max-width: 600px){
    .welcome-text p {
        width: 204px;
        font-size: 12px;
        line-height: 20px;
    }
    .welcome-image img {
        max-width: 300px;
    }
}
@media(max-width: 577px){
    .welcome {
        flex-direction: column;
    }
    .service-block {
        height: 999px;
        padding-block: 54px;
        gap: 30px;
    }
    .contact h1 {
        width: 332px;
        font-size: 28px;
    }
    button {
        width: 128px;
        height: 38px;
        font-size: 13px;
    }
    section h1 {
        font-size: 29px;
        width: 350px;
    }
    .service h1 {
        width: 335px;
        font-size: 29px;
    }
    .welcome-text button {
        gap: 7px;
        text-align: center;
        width: 206px;
    }
    .footer {
        gap: 20px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    .welcome {
        text-align: center;
        flex-direction: column;
    }
    .contact {
        flex-direction: column;
        text-align: center;
        gap: 28px;
    }
}
@media(max-width: 420px){
    .welcome-image img {
        max-width: 307px;
    }
    .service h1 {
        width: 335px;
        font-size: 28px;
    }
    element.style {
        text-align: center;
    }
    section h1 {
        font-size: 27px;
        width: 336px;
    }
    .contact h1 {
        width: 332px;
        font-size: 27px;
    }
    section h1 {
        font-size: 27px;
        width: 313px;
    }
    .vector4 {
        right: 9px;
        bottom: 49px;
    }
    .vector2 {
        top: 64px;
        right: 21px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
        font-size: 28px;
    }
    .section h1 {
        font-size: 29px;
        width: 330px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}